.difficulties {
  width: 420px;
  margin: auto;
}

.difficulties ul {
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.difficulties li {
  margin: 20px;
  padding: 10px 15px;
  color: var(--white-color-100);
  cursor: pointer;
}

.difficulties .curr-difficulty{
  border-radius: 25px;
  text-shadow: none;
  background-color: #9d306d66;
}

.config .restart-btn {
  font-size: 48px;
  cursor: pointer;
}

.config .restart-btn:hover{
  font-size: 57px;
}
